.daysComponent{
    width: 100%;
    border-radius: 1rem;
    transition: all .3s ease-in;
    cursor: pointer;
}
.daysComponent:hover{
    box-shadow: var(--box-shadow);
}

.daysComponent_box_box_img{
    border-radius: 1rem;
}
.daysComponent_box_profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}
.daysComponent_box_profile_img_1{
    border-bottom-left-radius: 1rem;
}
.daysComponent_box_profile_img_3{
    border-bottom-right-radius: 1rem;
}

.daysComponent_box_title{
    padding: 1rem 2rem;
}
.daysComponent_box_title h2{
    font-weight: 600;
}
.daysComponent_box_title_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.daysComponent_box_title_info_profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.daysComponent_box_title_info_profile p{
    display: flex;
    flex-direction: column;
    padding-inline: .5rem;
}
.daysComponent_box_title_info_profile_img{
    border-radius: 50%;
}
.daysComponent_box_title_info_profile span{
    font-weight: 600;
    display: flex;
    align-items: center;
}
.daysComponent_box_title_info_price small{
    font-weight: 600;
    border: 3px solid var(--icons-color);
    padding: .5rem;
    border-radius: .5rem;
}


@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .daysComponent_box_profile{
        grid-template-columns: repeat(3,1fr);
    }
    .daysComponent_box_title_info{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        padding: 1rem;
    }
    .daysComponent_box_title{
        padding: 1rem;
    }
}