.nftCardTwo{
    /* width: 80%; */
    margin: 0 auto;
}
.nftCardTwo_box{
    display: grid;
    cursor: pointer;
    transition: all .3s ease-in;
    border-radius: 1rem;
}
.nftCardTwo_box:hover{
    box-shadow: var(--box-shadow);
}

.nftCardTwo_box_like{
    padding: 1rem;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1000;
}
.nftCardTwo_box_like_box_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nftCardTwo_box_like_box_box p{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 2rem;
    padding: 0 .5rem;
}
.nftCardTwo_box_like_box_box_icon{
    color: var(--icons-color);
    font-size: 2rem;
}
.nftCardTwo_box_img{
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.nftCardTwo_box_img_img{
    border-radius: 1rem;
}
.nftCardTwo_box_info{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nftCardTwo_box_info_left{
    line-height: 0;
}
.nftCardTwo_box_info small{
    font-size: 1rem;
}
.nftCardTwo_box_info_left p{
    font-size: 2rem;
    font-weight: 900;
    padding-top: 1rem;
}
.nftCardTwo_box_price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 0;
    padding: 1rem;
}
.nftCardTwo_box_price_box p{
    border: 1px solid var(--icons-color);
    padding: 1.5rem 1rem 1rem 1rem;
    font-size: 1.4rem;
    margin-top: .5rem;
    border-radius: .3rem;
}
.nftCardTwo_box_price_box small{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    padding: .3rem;
    border-radius: .3rem;
    margin-left: 1rem;
    position: relative;
    bottom: -5px;
}
.nftCardTwo_box_price_box p{
    font-size: 1rem;
}
.nftCardTwo_box_price_stock{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.1rem;
}

@media screen and (min-width-screen: 320px) and (max-width-screen: 375px) {
    .nftCardTwo{
        width: 80%;
    }
}