.button{
    background-color: var(--icons-color);
    padding: .5rem 1rem;
    border: 1px solid var(--icons-color);
    font-size: 1.1rem;
    border-radius: 2rem;
    color: var(--shadow-light-color);
    transition: all .2s ease-in;
    box-shadow: var(--box-shadow);
}
.button:hover{
    background-color: var(--main-bg-color);
    border: 1px solid var(--icons-color);
    color: var(--icons-color);
}