.authorProfileCard{
    width: 100%;
    z-index: 1111;
    margin-top: 5rem;
    display: grid;
    grid-template-areas: 'stack';
}
.authorProfileCard_popup{
    width: 80%;
    height: 100%;
    backdrop-filter: blur(10px);
    /* background: rgba(255, 255, 255, 0.8); */
    grid-area: stack;
    margin: 0 auto;
    z-index: 1111111;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authorProfileCard_popup_box{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   justify-items: center;
}
.authorProfileCard_popup_box_second{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 2rem;
}
.authorProfileCard_popup_box_second_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
}
.authorProfileCard_popup_box_second_box input{
    width: 80%;
    background-color: var(--main-bg-color);
    border: 1px solid var(--icons-color);
    border-radius: 3rem;
    padding: 2rem;
    font-size: 1.5rem;
}
.authorProfileCard_popup_box_second_box input::placeholder{
    font-size: 1.5rem;
    /* color: var(--icons-color); */
}
.button{
    background-color: var(--main-bg-color);
    color: var(--icons-color);
    padding: 1rem 4rem;
    font-size: 2rem;
    border-radius: 3rem;
    transition: all .3s ease-in;
}
.button:hover{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}
.authorProfileCard_box{
    grid-area: stack;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    gap: 3rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}
.authorProfileCard_box_img_img{
    border-radius: 1rem;
}
.authorProfileCard_box_info h2{
    font-size: 2.5rem;
    line-height: 0;
    margin-top: -5rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}
.authorProfileCard_box_info_address{
    margin-top: -1rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.authorProfileCard_box_info_address input{
    outline: none;
    width: 35%;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}
.authorProfileCard_box_info_address_icon{
    transition: all .3s ease-in;
}
.authorProfileCard_box_info_address_icon:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--icons-color);
}
.authorProfileCard_box_info p{
    font-size: 1.1rem;
    line-height: 1;
    width: 90%;
}
.authorProfileCard_box_info_social{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.authorProfileCard_box_info_social a{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    display: grid;
    padding: .5rem;
    border: 1px solid var(--icons-color);
    transition: all .3s ease-in;
    cursor: pointer;
}
.authorProfileCard_box_info_social a:hover{
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    color: var(--icons-color);
}
.authorProfileCard_box_share{
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 2rem;
    position: relative;
}
.authorProfileCard_box_share_icon{
    font-size: 2.5rem;
    cursor: pointer;
}
.authorProfileCard_box_share_upload{
    position: absolute;
    padding: .5rem;
    width: 15rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 2rem;
    top: 5rem;
    z-index: 111111;
}
.authorProfileCard_box_share_upload p{
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s ease-in;
    padding: .3rem .5rem;
}
.authorProfileCard_box_share_upload p:hover{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .2rem;
}
.authorProfileCard_box_share_upload span{
    font-size: 1.5rem;
}
.authorProfileCard_box_share_report{
    position: absolute;
    padding: .5rem;
    width: 10rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 5rem;
    top: 4rem;
    z-index: 111111;
    display: flex;
    align-items: center;
    gap: .2rem;
}

@media screen and (max-width: 35em) {
    .authorProfileCard_box{
        width: 90%;
        grid-template-columns: 1fr;
        padding: .5rem .5rem 1.5rem;
        gap: 1rem;
    }
    .authorProfileCard_popup{
        width: 90%;
    }
    .authorProfileCard_popup_box{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .authorProfileCard_popup_box_second{
        grid-template-rows: 2fr 1fr;
    }
    .authorProfileCard_popup_box_second_box{
        grid-template-columns: 1fr;
        gap: .5rem;
    }
    .authorProfileCard_box_img{
        width: 50%;
    }
    .authorProfileCard_box_info h2{
        font-size: 2rem;
    }
    .authorProfileCard_box_info p{
        font-size: 1rem;
        line-height: 1.4;
        width: 90%;
    }
    .authorProfileCard_box_info_address input{
        width: 85%;
    }
    .authorProfileCard_box_info_social{
        padding: 0 2rem;
    }
    .authorProfileCard_box_share{
        grid-column: 1/-1;
        grid-row: 1/-1;
        padding: 1rem;
        gap: 1rem;
    }
    .authorProfileCard_box_share_icon{
        font-size: 2rem;
    }
    .authorProfileCard_box_share_upload{
        left: 5rem;
    }
    .authorProfileCard_box_share_report{
        left: 9rem;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .authorProfileCard_box{
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }
    .authorProfileCard_box_info_address input{
        width: auto;
    }
    .authorProfileCard_box_share{
        grid-column: 1/-1;
    }
}
@media screen and (min-device-width: 1025px) {
    .authorProfileCard_box_info_address input{
        width: auto;
    }
}