.authorNFTCardBox{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding-bottom: 10rem;
}
@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .authorNFTCardBox{
        width: 100%;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-device-width: 426px) and (max-device-width: 768px){
    .authorNFTCardBox{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width:1024px){
    .authorNFTCardBox{
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}