.author_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .author_box{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    .author_box{
        grid-template-columns: 1fr 1fr;
    }
}