.box_category{
    width: 80%;
    margin: 0 auto;
}
.category{
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}
.category_box{
    /* line-height: 0; */
    transition: all .3s ease-in;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 1rem;
}
.category_box:hover{
    box-shadow: var(--box-shadow);
}
.category_box_img{
    border-radius: 1rem;
}
.category_box_title{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.category_box_title span{
    font-size: 3rem;
    /* margin-top: 1rem; */
}
.category_box_title_info h4{
    font-weight: 600;
}

@media screen and (min-width:320px) and (max-width: 450px){
    .category{
        grid-template-columns: 1fr;
    }
    .box_category{
        width: 90%;
    }
}
@media screen and (min-width:451px) and (max-width: 770px){
    .category{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:771px) and (max-width: 1024px){
    .category{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

