.nftCard_box{
    display: grid;
    cursor: pointer;
    transition: all .3s ease-in;
    border-radius: 1rem;
}
.nftCard_box:hover{
    box-shadow: var(--box-shadow);
}

.nftCard_box_timer{
    padding: 1rem;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1000;
}
.nftCard_box_timer_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nftCard_box_img{
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
}
.nftCard_box_img_img{
    border-radius: 1rem;
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.nftCard_box_info{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nftCard_box_info_left{
    line-height: 0;
}
.nftCard_box_info small{
    font-size: 1rem;
}
.nftCard_box_info_left p{
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 1rem;
}
.nftCard_box_price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 0;
    padding: 1rem;
}
.nftCard_box_price p{
    margin-bottom: 1rem;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1440px) {
    .nftCard{
        width: 100%;
    }
}